body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    /*background-image: url(BEnzwCv.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    background: radial-gradient(circle at top left,transparent 9%, #4f46e4 10% ,#4f46e4 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #4f46e4 10% ,#4f46e4 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #4f46e4 10% ,#4f46e4 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #4f46e4 10% ,#4f46e4 15% , transparent 16%),radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(45deg, transparent 46%, #4f46e4 47%, #4f46e4 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #4f46e4 47%, #4f46e4 52%, transparent 53%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 1
}

.logo {
    position: relative;
    top: 30px;
    width: 72px;
    height: 36px;
}

.wlcm {
    position: relative;
    top: 70px;
    padding-top: 0.5em;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    color: white;
}

.em {
    position: relative;
    top: 70px;
    border-style: solid;
    font-size: 16px;
    outline: none;
    padding: 0 16px;
    background-color: rgb(228, 228, 228);
    color: #2d333a;
    border-radius: 3px;
    line-height: 1.1;
    height: 53px;
    font-size: 16px;
    border: 1px solid #c2c8d0;
    width: 290px;
}

::placeholder {
    font-size: 17px;
    color: #283c63;
}

.sub {
    position: relative;
    top: 85px;
    padding: 4px 16px;
    min-height: 55px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    background-color: #8db4eb;
    width: 325px;
    border: 1px solid #c2c8d0;
    border-radius: 3px;
}

.dnt {
    position: relative;
    top: 95px;
    color: white;
    border: 0;
    font: inherit;
    font-size: 14px;
}

.d {
    width: 130px;
    align-items: right;
}

.d1 {
    width: 130px;
}

.btn1 {
    position: relative;
    top: 80px;
    left: -100px;
    width: 170px;
    height: 120px;
    background-color: #8db4eb;
    border-radius: 3px;
    border-color: transparent;
    outline: none;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    color: rgb(17, 17, 17);
}

.btn2 {
    position: relative;
    top: -40px;
    right: -100px;
    width: 170px;
    height: 120px;
    background-color: #8db4eb;
    border-color: transparent;
    border-radius: 3px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    color: rgb(17, 17, 17);
}

.Google {
    height: 25px;
    width: 25px;
    position: relative;
    left: 0px;
    bottom: -12px;
}

.Microsoft {
    height: 25px;
    width: 25px;
    position: relative;
    right: -0px;
    bottom: -9px;
}

.sign {
    text-decoration: none;
    color: #1652a0;
    font-size: 16px;
}

.lst {
    margin-top: 8em;
    font-size: 15px;
}

.trms {
    position: relative;
    top: -140px;
    text-decoration: none;
    color: #bbcbe1;
    padding-right: 5px;
}

.privacy {
    position: relative;
    top: -140px;
    text-decoration: none;
    color: #bbcbe1;
    padding-left: 5px;
}

.hrr {
    position: relative;
    top: -140px;
    color: #c2c8d0;
}

.hr {
    position: relative;
    top: 127px;
    margin-left: 140px;
    margin-right: 140px;
}
.oror{
    position: relative;
    top: 103px;
    right: -250px;
    border: transparent solid 10px;
    background-color: rgb(122, 140, 201);
    width: 20px;
    height: 10px;
}

.or {
    position: relative;
    top: 70px;
    font-size: 12px;
    color: white;
    
}

.cnt1 {
    position: relative;
    bottom: -5px;
    left: -0px;
    font-size: 17px;
    
}

.btn1:hover {
    background-color: #17365e;
    color: rgb(240, 239, 239);
    transition: 0.3s ease-in-out;
    scale: 1.03;
}

.sub:hover {
    background-color: #17365e;
    color: rgb(240, 239, 239);
    transition: 0.3s ease-in-out ;
    scale: 1.03;
}

.cnt {
    position: relative;
    bottom: -5px;
    left: -0px;
    font-size: 15px;
}

.btn2:hover {
    background-color: #17365e;
    color: #dde3eb;
    transition: 0.3s ease;
    scale: 1.03;
}

.parent {
    width: 540px;
    background-color: rgb(122, 140, 201);
    position: relative;
    right: -300px;
    height: 610px;
    margin-top: 5em;
    border-radius: 30px;
    border: rgb(52, 52, 136) 3px solid;
}