body {
text-align: center;
font-family: sans-serif;
size: 500px;
}
.logo {
width: 72px;
height: 36px;
margin-bottom: 8em;
margin-top: 1.4em;
}
.wlcm {
padding-top: 0.5em;
padding-bottom: 10px;
font-size: 16px;
font-weight: 400;
color: #2d333a;

}
.em {
border-style: solid;
font-size: 16px;
outline: none;
padding: 0 16px;
background-color: #fff;
color: #2d333a;
border-radius: 3px;
line-height: 1.1;
height: 53px;
font-size: 16px;
border: 1px solid #c2c8d0;
width: 290px;
}
::placeholder{
font-size: 17px;

}
.sub {
padding: 4px 16px;
margin-top: 20px;
min-height: 55px;
font-size: 16px;
font-weight: 400;
color: #fff;
border-radius: 3px;
outline: none;
cursor: pointer;
background-color: #10a37f;
width: 325px;
border: 1px solid #c2c8d0;
border-radius: 3px;
}
.dnt {
color: #2d333a;
margin: 3px;
padding: 3px;
border: 0;
font: inherit;
font-size: 14px;
}
.d {
width: 130px;
align-items: right;
}
.d1 {
  width: 130px;
}
.btn1 {
margin-top: 1em;
width: 325px;
height: 55px;
background-color: #fff;
border-radius: 3px;
border-color: #c2c8d0;
outline: none;
border-width: 1px;
border-style: solid;
box-shadow: #c2c8d0;
cursor: pointer;
}
.btn2 {
    margin-top: 1em;
    width: 325px;
    height: 55px;
    background-color: #fff;
    border-radius: 3px;
    border-color: #c2c8d0;
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-shadow: #c2c8d0;
    cursor: pointer;
    }
.Google {
height: 25px;
width: 25px;
position: relative;
left: -135px;
bottom: -12px;
}
.Microsoft{
    height: 25px;
    width: 25px;
    position: relative;
    left: -135px;
    bottom: -12px;
    }
.sign {
text-decoration: none;
color: #10a37f;
}
.lst {
margin-top: 8em;
font-size: 15px;
}
.trms {
    text-decoration: none;
    color: #10a37f;
    padding-right: 5px;
}
.privacy {
    text-decoration: none;
    color: #10a37f;
    padding-left: 5px;
}
.hr {
    position: relative;
}
.hr::before{
position: absolute;
content: "";
width: 140px;
height: 1px;
background-color: #c2c8d0;
right: 530px;
rotate: 180deg;
left: 35.5%;
top: 45%;
}
.hr::after{
    position: absolute;
    content: "";
    width: 140px;
    height: 1px;
    background-color: #c2c8d0;
    right: px;
    rotate: 180deg;
    right: 35.5%;
    top: 45%;
    }
.or {
padding-top: 0.2px;
font-size: 12px;
color: #2d333a;
}
.cnt1 {
    position: relative;
    bottom: 29px;
    left: -28px;
    font-size: 17px;
}
.btn1:hover {
background-color: lightgray;
transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sub:hover {
background-color: #0c8668;
transition: 0.5s ease-in-out;
}
.cnt {
    position: relative;
    bottom: 27px;
    left: -7px;
    font-size: 15px;
}
.btn2:hover {
    background-color: lightgray;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }